.table {
  margin: auto;
  width: 80%;
  margin-top:20px;
  border-radius: 10px;
  text-align: center;
}
.table th:first-of-type{
  border-radius: 10px 0px 0px 0px;
}
.table th:last-of-type{
  border-radius: 0px 10px 0px 0px;
}
.table tr:last-child td:first-of-type{
  border-radius: 0px 0px 0px 10px;
}
.table tr:last-child td:last-of-type{
  border-radius: 0px 0px 10px 0px;
}
.table tr{
  font-family: consolas;
  background-color: #83D1E1;
  color: #212529;
}
.table tr:first-child{
  font-family: consolas;
  background-color: #0E8EA8;
  color: #fff;
}
.table td, .table th {
  outline: #212529 solid 1px;
  font-family: consolas;
}
.navBar td, .navBar th {
  outline: #212529 solid 1px;
  font-family: consolas;
}

.navBar {
  text-align: center;
  font-family: consolas;
  background-color: #0E8EA8;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.dropMenu{
  background-color: #83D1E1;
  color: #212529;
  display: none;
}

.navBar:hover .dropMenu {
  display: table-row;
}

.clearButton {
  left:72%;
  width:100px;
  height:40px;
  position: relative;
  font-family: consolas;
  background-color: #dc3545;
  color: #fff;
}

.outButton {
  left:14.5%;
  width:100px;
  height:40px;
  position: relative;
  font-family: consolas;
  background-color: #dc3545;
  color: #fff;
}

.inButton {
  left:72%;
  width:100px;
  height:40px;
  position: relative;
  font-family: consolas;
  background-color: #198754;
  color: #fff;
}

.addButton {
  left:72%;
  width:100px;
  height:40px;
  position: relative;
  font-family: consolas;

  background-color: #198754;
  color: #fff;
}

.mainClock {
  left:80%;
  width:200px;
  height:0px;
  position: relative;
}

.logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.toast-warning {
  font-family: consolas;
  background-color: #0E8EA8;
}

.toast-title {
  float: left;
}

.btn-close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  right: 5%;
}

p, h1 {
  font-family: Calibri;
  color: #212529;
}

.title {
  text-align: center;
}

#toast-container {
  position: absolute;
  overflow:hidden;
  top: 10%;
  width: 13%;
}